<div class="col">
  <div class="card trip-card">
    <%= link_to trip do %>
    <div class="card-body">
      <h5 class="card-title mb-0">
        <%= trip.title %>
      </h5>
      <small class="text-muted"><%= "#{trip.start_date.to_s(:long)} to #{trip.end_date.to_s(:long)}" %></small>
      <p class="card-text mt-2"><%= trip.description %></p>
      <p class="card-text">
        <span class="badge bg-dark"><%= trip.visibility_string %></span>
        <%= tag.span user_in_trip(current_user, trip).role_string, class: class_names('badge', trip_role_bg_class(user_in_trip(current_user, trip))) %>
        <%= tag.span trip.status_string, class: class_names('badge', trip_status_bg_class(trip)) %>
      </p>
    </div>
    <% end %>
    <div class="card-footer">
      <div class="btn-group w-100 d-flex d-lg-block">
        <!-- the comments are needed to avoid a whitespace between the buttons -->
           <%= render 'shared/trip_participants_button', trip: trip %><!--
        --><%= render 'shared/trip_waypoints_button', trip: trip %><!--
        --><%= render 'shared/trip_segments_button', trip: trip %><!--
        --><%= render 'shared/trip_posts_button', trip: trip %><!--
        --><%= render 'shared/trip_media_items_button', trip: trip %>
      </div>
    </div>
  </div>
</div>
