<div class="col">
  <div class="card trip-card">
    <div class="card-body">
      <h5 class="card-title">
        <%= link_to trip.title, trip %>
      </h5>
      <p class="card-text"><%= trip.description %></p>
      <p class="card-text">
        <span class="badge bg-dark"><%= trip.visibility_string %></span>
        <span class="badge bg-dark"><%= role_of_user_in_trip(current_user, trip) %></span>
        <span class="badge bg-primary"><%= trip.status_string %></span>
      </p>
    </div>
    <div class="card-footer">
      <div class="btn-group">
        <%= link_to 'Participants', trip_trip_users_path(trip), class: 'btn btn-sm btn-outline-dark' %>
        <%= link_to 'Waypoints', trip_waypoints_path(trip), class: 'btn btn-sm btn-outline-dark' %>
        <%= link_to 'Segments', trip_segments_path(trip), class: 'btn btn-sm btn-outline-dark' %>
        <%= link_to 'Blog', trip_posts_path(trip), class: 'btn btn-sm btn-outline-dark' %>
        <%= link_to 'Media', trip_media_items_path(trip), class: 'btn btn-sm btn-outline-dark' %>
      </div>
      <span class="trip-reaction-buttons">
        <% if can? :like, trip %>
          <div class="mx-4">
            <% if Like.liked?(current_user, trip) %>
              <%= link_to trip_dislike_path(trip), method: :delete do %>
                <i class="bi bi-hand-thumbs-up-fill mx-1"></i>  
              <% end %>
            <% else %>
              <%= link_to trip_like_path(trip), method: :post do %>
                <i class="bi bi-hand-thumbs-up mx-1"></i>  
              <% end %>
            <% end %>
            <%= trip.likes_count %>
          </div>
        <% end %>
        <% if can? :new_trip, Comment %>
          <div>
            <%= link_to trip_new_comment_path(trip) do %>
              <i class="bi bi-chat-right mx-1"></i>
            <% end %>
            <%= trip.comments_count %>
          </div>
        </span>
      <% end %>
    </div>
  </div>
</div>
