<%= render 'shared/trips_header', trip: @trip, title: 'Overview', active: 'overview' %>

<p class="fs-2 fw-normal"><%= @trip.description %></p>
<% if signed_in? %>
  <span class="trip-button-row">
    <span class="badge bg-dark"><%= @trip.visibility_string %></span>
    <% if @trip.users.exists? current_user.id%>
      <%= tag.span user_in_trip(current_user, @trip).role_string, class: class_names('badge', trip_role_bg_class(user_in_trip(current_user, @trip))) %>
    <% end %>
    <%= tag.span @trip.status_string, class: class_names('badge', trip_status_bg_class(@trip)) %>
  </span>
  <span class="trip-button-row">
    <% if can? :like, @trip %>
      <%= render 'shared/like_button', likeable: @trip %>
    <% end %>
    <div>
      <%= link_to '#comments' do %>
        <i class="bi bi-chat-right mx-1"></i>
      <% end %>
      <%= @trip.comments_count %>
    </div>
  </span>
  <span class="trip-button-row mx-2">
    <% if can? :manage, @trip %>
      <%= link_to edit_trip_path(@trip) do %>
        <i class="bi bi-pencil mx-1"></i>
      <% end %>
      <%= link_to @trip, method: :delete, data: { confirm: 'Are you sure?' } do %>
        <i class="bi bi-trash"></i>
      <% end %>
    <% end %>
  </span>
<% end %>

<p class="fs-3 fw-light"><strong>Time frame: </strong><%= "#{@trip.start_date.to_s(:long)} to #{@trip.end_date.to_s(:long)}" %></p>
<p class="fs-3 fw-light"><strong>Budget: </strong><%= @trip.budget %></p>
<p class="fs-3 fw-light"><strong># Waypoints: </strong><%= @trip.waypoints.count %></p>
<p class="fs-3 fw-light"><strong># Segments: </strong><%= @trip.segments.count %></p>
<p class="fs-3 fw-light"><strong>Total distance: </strong><%= @trip.segments.sum(:distance).round(2) %></p>
<p class="fs-3 fw-light">
  <strong>Progress (segments): </strong><%= @trip.segments.segment_finished.count %> / <%= @trip.segments.count %>
</p>
<p class="fs-3 fw-light">
  <strong>Progress (distance): </strong>
  <%= @trip.segments.segment_finished.sum(:distance).round(2) %> / <%= @trip.segments.sum(:distance).round(2) %> km
</p>

<h2 class="display-6 mt-5 mb-4">Map</h2>
<%= render 'shared/map', waypoints: @trip.waypoints, segments: @trip.segments.order(:sequence, :id) %>

<h2 id="comments" class="display-6 mt-5 mb-4">Comments</h2>

<% if can? :new_trip, Comment %>
  <%= render 'shared/add_button', target: trip_new_comment_path(@trip), resource: 'comment' %>
<% end %>

<div class="row row-cols-1 row-cols-xl-2 g-3 my-3">
  <%= render @trip.comments.order(:id).reverse %>
</div>
