<%= render 'shared/trips_header', trip: @trip, title: 'Overview' %>

<p class="fs-3"><%= @trip.description %></p>
<p><strong>Start date: </strong><%= @trip.start_date %></p>
<p><strong>End date: </strong><%= @trip.end_date %></p>
<p><strong>Budget: </strong><%= @trip.budget %></p>
<p><strong>Status: </strong><%= @trip.status_string %></p>
<p><strong>Visibility: </strong><%= @trip.visibility_string %></p>

<% if can? :manage, @trip %>
  <div class="my-3">
    <%= link_to 'Edit', edit_trip_path(@trip), class: 'btn btn-large btn-dark' %>
    <%= link_to 'Delete', @trip, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-large btn-outline-dark' %>
  </div>
<% end %>

<h2 class="display-6 mt-5 mb-4">Map</h2>
<%= render 'shared/map', waypoints: @trip.waypoints, segments: @trip.segments %>

<h2 class="display-6 mt-5 mb-4">Comments</h2>

<% if can? :new_trip, Comment %>
  <%= render 'shared/add_button', target: trip_new_comment_path(@trip), resource: 'comment' %>
<% end %>

<div class="row row-cols-1 row-cols-xl-2 g-3 my-3">
  <%= render @trip.comments.order(:id).reverse %>
</div>
