<div id=<%= dom_id comment %> class="col">
  <div class="card comment-card shadow-sm">
    <p><%= comment.content %></p>
    <div class="comment-bottom-bar">
      <div>
        <%= link_to comment.user do %>
          <small class="text-muted"><%= comment.user %></small>
        <% end %>

        <% if comment.edited? %>
          <small class="text-muted">(edited)</small>
        <% end %>

        <% if can? :manage, comment %>
          | <%= link_to comment, method: :delete do %>
            <small class="text-muted">Delete</small>
          <% end %>
          | <%= link_to edit_comment_path(comment) do %>
            <small class="text-muted">Edit</small>
          <% end %>
        <% end %>
      </div>
      <%= render 'shared/like_button', likeable: comment, user: current_user, clickable: can?(:like, comment) %>
    </div>
  </div>
</div>
