<div class="col">
  <div class="card comment-card">
    <p><%= comment.content %></p>
    <div>
      <%= link_to comment.user do %>
        <small class="text-muted"><%= comment.user %></small>
      <% end %>

      <% if comment.edited? %>
        <small class="text-muted">(edited)</small>
      <% end %>

      <% if can? :manage, comment %>
        | <%= link_to comment, method: :delete do %>
          <small class="text-muted">Delete</small>
        <% end %>
        | <%= link_to edit_comment_path(comment) do %>
          <small class="text-muted">Edit</small>
        <% end %>
      <% end %>
      
      <span class="comment-reaction-buttons">
        <% if can? :like, comment %>
          <div class="mx-4">
            <% if Like.liked?(current_user, comment) %>
              <%= link_to comment_dislike_path(comment), method: :delete, remote: true, id: "like-link-#{comment.id}" do %>
                <i id=<%= "like-button-#{comment.id}" %> class="bi bi-hand-thumbs-up-fill mx-1"></i>  
              <% end %>
            <% else %>
              <%= link_to comment_like_path(comment), method: :post, remote: true, id: "like-link-#{comment.id}" do %>
                <i id=<%= "like-button-#{comment.id}" %> class="bi bi-hand-thumbs-up mx-1"></i>  
              <% end %>
            <% end %>
            <span id=<%= "like-counter-#{comment.id}" %>><%= comment.likes_count %></span>
          </div>
        <% end %>
      </span>
    </div>
  </div>
</div>
