<% model = [local_assigns[:commentable], comment].compact %>

<%= form_with(model: model, id: 'comment-form') do |f| %>
  <% if comment.errors.any? %>
    <div class="form-error-list">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-2">
    <%= f.label :content, 'Your comment:' %>
    <%= f.text_area :content, class: 'form-control shadow-sm' %>
  </div>

  <%= f.submit class: "btn btn-dark", data: { "turbo": "false" } %>
  <button type="button" class="btn btn-outline-dark" data-action="click->comment#hideForm">Cancel</button>
<% end %>
