<%= form_with(model: [@commentable, comment], local: true) do |f| %>
  <% if comment.errors.any? %>
    <div class="form-error-list">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
      <ul>
      <% comment.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :commentable_id %>
  <%= f.hidden_field :commentable_type %>

  <div class="form-group my-2">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'form-control' %>
  </div>

  <div class="form-group my-4">
    <%= f.submit class: 'btn btn-dark' %>
  </div>
<% end %>
