<%= form_with(model: [@trip, trip_user], local: true, id: 'trip-user-form') do |f| %>
  <% if trip_user.errors.any? %>
    <div class="form-error-list">
      <h2><%= pluralize(trip_user.errors.count, "error") %> prohibited this participant from being saved:</h2>
      <ul>
      <% trip_user.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-2">
    <%= f.label :user_id %>
    <%= f.select :user_id, user_list, {}, class: 'form-select' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :role %>
    <%= f.select :role, trip_user_roles_list, {}, class: 'form-select' %>
  </div>
<% end %>
