<tr>
  <th scope="row"><%= trip_user_counter + 1 %></th>
  <td><%= trip_user.user.username %></td>
  <td><%= tag.span trip_user.role_string, class: class_names('badge', trip_role_bg_class(trip_user)) %></td>
  <td class="d-none d-lg-table-cell"><%= trip_user.user.email %></td>
    <% if can? :manage, trip_user %>
      <td>
        <div class="table-row-action-items">
          <%= link_to edit_trip_trip_user_path(@trip, trip_user) do %>
            <i class="bi bi-pencil"></i>
          <% end %>
          <%= link_to trip_trip_user_path(@trip, trip_user), method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="bi bi-trash"></i>
          <% end %>
        </div>
      </td>
    <% end %>
</tr>
