<div class="container">
  <h1 class="display-2">Hi, I'm <%= @user.username %></h1>

  <% if @user.avatar.attached? %>
    <%= image_tag @user.avatar.representation(resize_to_limit: [512, 512]), class: 'user-avatar rounded-circle' %>
  <% end %>

  <p>Following <%= pluralize(@user.following_count, 'user') %></p>
  <p>Has <%= pluralize(@user.followers_count, 'follower') %></p>

  <% if signed_in? %>
    <% if @user.id == current_user.id %>
      <%= link_to 'Edit profile', edit_user_registration_path, method: :get, class: 'btn btn-dark' %>
    <% else %>
      <% if current_user.following? @user %>
        <%= link_to 'Unfollow', user_unfollow_path(@user), method: :delete, class: 'btn btn-dark' %>
      <% else %>
        <%= link_to 'Follow', user_follow_path(@user), method: :post, class: 'btn btn-dark' %>
      <% end %>
    <% end %>
  <% end %>

</div>
