<div id="mapid" class="map-container"></div>
<script>
	var mymap = L.map('mapid', {
    center: [0, 0],
    zoom: 1,
    gestureHandling: true
  });

  // tiles
	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoiY2hyaWxhIiwiYSI6ImNrbzF4ZWJhcjBwZmQycG1zbWRodWM1cm8ifQ.M0TKFhXK_SzhWqokJpDE4Q', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11',
		tileSize: 512,
		zoomOffset: -1
	}).addTo(mymap);

  <% if local_assigns[:waypoints].present? %>
    // draw waypoints
    var markers = [];
    <% waypoints.each do |w| %>
      markers.push(
        L.marker([<%= w.lat_long_str %>], {
          title: '<%= w.name %>'
        }).addTo(mymap)
      );
    <% end %>

    // zoom the map to show all markers
    var group = new L.featureGroup(markers)
    mymap.fitBounds(group.getBounds());

    // if there's only one marker, set zoom level to actually see something
    if (markers.length == 1) {
      mymap.setZoom(10);
    }
  <% end %>

  <% if local_assigns[:segments].present? %>
    // draw segments
    var line;
    <% segments.each_with_index do |s, i| %>
      line = [[<%= s.waypoint_from.lat_long_str %>], [<%= s.waypoint_to.lat_long_str %>]];
      L.polyline(line, {
        color: '<%= segment_status_color(s) %>',
        weight: '<%= 3.0 / Math.sqrt(i + 1) %>'
      }).addTo(mymap);
    <% end %>
  <% end %>

</script>
