<tr>
  <th scope="row"><%= segment_counter + 1 %></th>
  <td><%= segment.waypoint_from.name %></td>
  <td><%= segment.waypoint_to.name %></td>
  <td class="d-none d-lg-table-cell"><%= segment.time_from.to_s(:day_and_year) %></td>
  <td class="d-none d-md-table-cell d-lg-none"><%= segment.time_from.to_s(:day) %></td>
  <td class="d-none d-lg-table-cell"><%= segment.time_to.to_s(:day_and_year) %></td>
  <td class="d-none d-md-table-cell d-lg-none"><%= segment.time_to.to_s(:day) %></td>
  <td class="d-none d-sm-table-cell"><%= segment.distance.round(1) %></td>
  <td><%= tag.span segment.status_string, class: class_names('badge', segment_status_bg_class(segment)) %></td>
    <% if can? :manage, segment %>
      <td>
        <%= link_to trip_segment_path(@trip, segment) do %>
          <i class="bi bi-file-earmark-text"></i>
        <% end %>
        <%= link_to edit_trip_segment_path(@trip, segment) do %>
          <i class="bi bi-pencil mx-1"></i>
        <% end %>
        <%= link_to trip_segment_path(@trip, segment), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="bi bi-trash"></i>
        <% end %>
      </td>
    <% end %>
</tr>