<%= tag.tr class: class_names("segment-table-row-#{segment.status_string.downcase}") do %>
  <th scope="row"><%= segment.sequence %></th>
  <td><%= link_to segment.waypoint_from.name, [@trip, segment] %></td>
  <td><%= link_to segment.waypoint_to.name, [@trip, segment] %></td>
  <td class="d-none d-lg-table-cell"><%= segment.time_from.to_s(:day_and_year) %></td>
  <td class="d-none d-md-table-cell d-lg-none"><%= segment.time_from.to_s(:day) %></td>
  <td class="d-none d-lg-table-cell"><%= segment.time_to.to_s(:day_and_year) %></td>
  <td class="d-none d-md-table-cell d-lg-none"><%= segment.time_to.to_s(:day) %></td>
  <td class="d-none d-sm-table-cell"><%= segment.distance.round(1) %></td>
  <td class="d-none d-md-table-cell"><%= render 'segment_status_button', segment: segment %></td>
    <td class="d-none d-md-table-cell">
      <div class="table-row-action-items">
  <% if can? :manage, segment %>
        <%= link_to edit_trip_segment_path(@trip, segment) do %>
          <i class="bi bi-pencil"></i>
        <% end %>
        <%= link_to trip_segment_path(@trip, segment), method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="bi bi-trash"></i>
        <% end %>
  <% end %>
      </div>
    </td>
  <% if can? :manage, segment %>
    <td>
      <% unless segment.first? %>
        <%= link_to trip_segment_decrease_sequence_path(@trip, segment), method: :put do %>
          <i class="bi bi-arrow-up"></i>
        <% end %>
      <% end %>
    </td>
    <td>
      <% unless segment.last? %>
        <%= link_to trip_segment_increase_sequence_path(@trip, segment), method: :put do %>
          <i class="bi bi-arrow-down"></i>
        <% end %>
      <% end %>
    </td>
  <% end %>
<% end %>
