<%= render 'shared/trips_header', trip: @trip, title: 'Segment details', navbar: false %>

<%= render 'shared/back_button', target: trip_segments_path(@trip) %>
<% if can? :manage, @segment %>
    <%= render 'shared/edit_button', target: edit_trip_segment_path(@trip, @segment) %>
    <%= render 'shared/delete_button', target: trip_segment_path(@trip, @segment) %>
<% end %>

<p class="fs-3 fw-light"><strong>From: </strong><%= link_to @segment.waypoint_from.name, [@trip, @segment.waypoint_from] %></p>
<p class="fs-3 fw-light"><strong>To: </strong><%= link_to @segment.waypoint_to.name, [@trip, @segment.waypoint_to] %></p>
<p class="fs-3 fw-light"><strong>Start: </strong><%= @segment.time_from.to_s(:day_and_year) %></p>
<p class="fs-3 fw-light"><strong>End: </strong><%= @segment.time_to.to_s(:day_and_year) %></p>
<p class="fs-3 fw-light"><strong>Distance: </strong><%= "#{@segment.distance.round(2)} km" %></p>
<p class="fs-3 fw-light"><strong>Status: </strong><%= tag.span @segment.status_string, class: class_names('badge', segment_status_bg_class(@segment)) %></p>

<%= render 'shared/map', waypoints: [@segment.waypoint_from, @segment.waypoint_to], segments: [@segment] %>
