<h1 class="display-6"><%= "Segment details" %></h1>

<%= link_to trip_segments_path(@trip), class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<p><strong>From: </strong><%= @segment.waypoint_from.name %></p>
<p><strong>To: </strong><%= @segment.waypoint_to.name %></p>
<p><strong>Start: </strong><%= @segment.time_from %></p>
<p><strong>End: </strong><%= @segment.time_to %></p>
<p><strong>Distance: </strong><%= @segment.distance %></p>
<p><strong>Status: </strong><%= @segment.status_string %></p>

<% if can? :manage, @segment %>
  <div class="my-3">
    <%= link_to 'Edit', edit_trip_segment_path(@trip, @segment), class: 'btn btn-large btn-dark' %>
    <%= link_to 'Delete', trip_segment_path(@trip, @segment), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-large btn-outline-dark' %>
  </div>
<% end %>
