<%= form_with(model: media_item, local: true, id: 'media-item-form') do |f| %>
  <% if media_item.errors.any? %>
    <div class="form-error-list">
      <h2><%= pluralize(media_item.errors.count, "error") %> prohibited this media item from being saved:</h2>
      <ul>
      <% media_item.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-2">
    <%= f.label :waypoint %>
    <%= f.select :waypoint_id, waypoints_for_select(@trip), {}, class: 'form-select' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :photo %>
    <%= f.file_field :photo %>
  </div>
<% end %>
