<div class="col">
  <div class="card shadow-sm">
    <%= link_to (local_assigns[:detail_view].present? ? media_item.photo : media_item) do %>
      <%= image_tag(
        (local_assigns[:detail_view].present? ? media_item.photo : media_item.photo.representation(resize_to_limit: [512, 512])),
        class: 'media-item-img', alt: media_item.title) %>
    <% end %>
    <div class="card-body">
      <p class="card-text mb-0"><i class="bi bi-geo-alt"></i> <%= "#{media_item.waypoint.name}, #{media_item.waypoint.country_name} #{media_item.waypoint.country_flag}" %></p>
      <small class="text-muted">by <%= link_to_if can?(:show, media_item.user), media_item.user, media_item.user %></small>
      <div class="media-item-bottom-bar">
        <small class="text-muted"><%= "#{time_ago_in_words(media_item.created_at)} ago" %></small>
        <div class="interaction-button-group">
          <%= render 'shared/like_button', likeable: media_item, user: current_user, clickable: can?(:like, media_item) %>
          <%= render 'shared/comments_button', commentable: media_item %>
        </div>
      </div>
    </div>
  </div>
</div>
