<%= render 'shared/trips_header', trip: @media_item.trip, title: 'Media item', navbar: false %>

<%= render 'shared/back_button', target: trip_media_items_path(@media_item.trip) + "\##{dom_id(@media_item)}" %>
<% if can? :manage, @media_item %>
    <%= render 'shared/edit_button', target: edit_media_item_path(@media_item) %>
    <%= render 'shared/delete_button', target: media_item_path(@media_item) %>
<% end %>
<% if can? :manage, @media_item.trip %>
  <%= link_to trip_set_cover_photo_path(@media_item.trip, @media_item), method: :put, class: 'btn btn-outline-dark mb-4' do %>
    <i class="bi bi-card-image mx-1"></i>Set as cover photo
  <% end %>
<% end %>

<p class="fs-3 fw-bold"><%= @media_item.title %></p>
<p class="fs-3 fw-light"><%= @media_item.description %></p>

<%= render @media_item, detail_view: true %>

<%= render 'comments/comments', commentable: @media_item, can_comment: can?(:new_media_item, Comment) %>
