<div class="my-3">
  <p class="display-6">Countries visited: <span class="text-primary"><%= stats[:countries] %></span></p>
  <p class="display-6">Continents visited: <span class="text-primary"><%= stats[:continents] %></span></p>
  <p class="display-6">km's travelled: <span class="text-primary"><%= stats[:km] %></span></p>
  <p class="display-6">Pictures uploaded: <span class="text-primary"><%= stats[:pictures] %></span></p>
  <p class="display-6">Blog entries written: <span class="text-primary"><%= stats[:posts] %></span></p>
  <p class="display-6">Likes received: <span class="text-primary"><%= stats[:likes] %></span></p>
  <p class="display-6">Comments received: <span class="text-primary"><%= stats[:comments] %></span></p>
</div>
