<div class="mt-2">
  <p class="display-6">Countries visited: <span class="summary-text-highlight"><%= stats[:countries] %></span></p>
  <p class="display-6">Continents visited: <span class="summary-text-highlight"><%= stats[:continents] %></span></p>
  <p class="display-6">km's travelled: <span class="summary-text-highlight"><%= stats[:km] %></span></p>
  <p class="display-6">Pictures uploaded: <span class="summary-text-highlight"><%= stats[:pictures] %></span></p>
  <p class="display-6">Blog entries written: <span class="summary-text-highlight"><%= stats[:posts] %></span></p>
  <p class="display-6">Likes received: <span class="summary-text-highlight"><%= stats[:likes] %></span></p>
  <p class="display-6">Comments received: <span class="summary-text-highlight"><%= stats[:comments] %></span></p>
  <p class="display-6">Types of means of travel used: <span class="summary-text-highlight"><%= stats[:means_of_travel] %></span></p>
</div>
