<h1 class="display-2">Summary page</h1>
<p class="display-6">Countries visited: <span class="text-primary"><%= @stats_total[:countries] %></span></p>
<p class="display-6">Continents visited: <span class="text-primary"><%= @stats_total[:continents] %></span></p>
<p class="display-6">km's travelled: <span class="text-primary"><%= @stats_total[:km] %></span></p>
<p class="display-6">Pictures uploaded: <span class="text-primary"><%= @stats_total[:pictures] %></span></p>
<p class="display-6">Blog entries written: <span class="text-primary"><%= @stats_total[:posts] %></span></p>
<p class="display-6">Likes received: <span class="text-primary"><%= @stats_total[:likes] %></span></p>
<p class="display-6">Comments received: <span class="text-primary"><%= @stats_total[:comments] %></span></p>
