<div class="col">
  <div class="card activity-card">
    <div class="post-pic-container">
      <%= link_to post.user do %>
        <%= image_tag post.user.avatar.representation(resize_to_limit: [32, 32]), class: 'rounded-circle post-user-pic', alt: post.user %>
      <% end %>
    </div>
    <div class="card-body post-body">
      <%= link_to post do %>
        <h5 class="card-title"><%= post.title %></h5>
      <% end %>
      <p class="card-text"><%= post.content %></p>
    </div>
    <div class="card-footer">
      <span><i class="bi bi-geo-alt"></i> <%= "#{post.waypoint.name}, #{post.waypoint.country}" %></span>
      <small class="text-muted mx-2"><%= "#{time_ago_in_words(post.created_at)} ago" %></small>
      <span class="post-reaction-buttons">
        <% if can? :like, post %>
        <div class="mx-4">
          <% if Like.liked?(current_user, post) %>
            <%= link_to post_dislike_path(post), method: :delete do %>
              <i class="bi bi-hand-thumbs-up-fill mx-1"></i>  
            <% end %>
          <% else %>
            <%= link_to post_like_path(post), method: :post do %>
              <i class="bi bi-hand-thumbs-up mx-1"></i>  
            <% end %>
          <% end %>
          <%= post.likes_count %>
        </div>
        <% end %>
        <% if can? :new_post, Comment %>
          <div>
            <%= link_to post_new_comment_path(post) do %>
              <i class="bi bi-chat-right mx-1"></i>
            <% end %>
            <%= post.comments_count %>
          </div>
        <% end %>
      </span>
    </div>
  </div>
</div>
