<div class="col">
  <div class="card activity-card">
    <div class="card-body">
      <%= link_to post do %>
        <h5 class="card-title"><%= post.title %></h5>
      <% end %>
      <small class="text-muted">
        by <%= link_to_if can?(:show, post.user), post.user, post.user %><!--
        --><%= ", #{time_ago_in_words(post.created_at)} ago" %>
      </small>
      <div class="mt-3"><%= post.content %></div>
    </div>
    <div class="card-footer post-bottom-bar">
      <div><i class="bi bi-geo-alt"></i> <%= "#{post.waypoint.name}, #{post.waypoint.country_name} #{post.waypoint.country_flag}" %></div>
      <div class="interaction-button-group">
        <%= render 'shared/like_button', likeable: post %>
        <%= render 'shared/comments_button', commentable: post %>
      </div>
    </div>
  </div>
</div>
