<%= render 'shared/trips_header', trip: @post.trip, title: 'Blog post', navbar: false %>

<%= render 'shared/back_button', target: trip_posts_path(@post.trip) %>
<% if can? :manage, @post %>
    <%= render 'shared/edit_button', target: edit_post_path(@post) %>
    <%= render 'shared/delete_button', target: post_path(@post) %>
<% end %>

<%= render @post %>

<h2 class="display-6 mt-5 mb-4">Comments</h2>

<% if can? :new_post, Comment %>
  <%= render 'shared/add_button', target: post_new_comment_path(@post), resource: 'comment' %>
<% end %>

<div class="row row-cols-1 row-cols-xl-2 g-3 my-3">
  <%= render @post.comments.order(:id).reverse %>
</div>
