<%= javascript_pack_tag 'waypoint' %>

<%= form_with(model: [@trip, waypoint], local: true, id: 'waypoint-form') do |f| %>
  <% if waypoint.errors.any? %>
    <div class="form-error-list">
      <h2><%= pluralize(waypoint.errors.count, "error") %> prohibited this waypoint from being saved:</h2>
      <ul>
      <% waypoint.errors.full_messages.each do |e| %>
        <li><%= e %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group my-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: 'form-control' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :address %>
    <span class="d-flex gap-2">
      <%= f.text_field :address, class: 'form-control' %>
      <button type="button" class="btn btn-outline-dark location-search-button">Search</button>
    </span>
    <span id="lb-search-error" class="address-search-error"></span>
  </div>

  <div class="form-group my-2">
    <%= f.label :country %>
    <%= f.country_select :country, { selected: waypoint.country }, { class: 'form-select' } %>
  </div>

  <div class="form-group my-2">
    <%= f.label :continent %>
    <%= f.select :continent, continents_for_select, {}, class: 'form-select' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :latitude %>
    <%= f.text_field :latitude, class: 'form-control' %>
  </div>

  <div class="form-group my-2">
    <%= f.label :longitude %>
    <%= f.text_field :longitude, class: 'form-control' %>
  </div>
<% end %>
