<tr>
  <th scope="row"><%= waypoint.id %></th>
  <td><%= waypoint.name %></td>
  <td><%= waypoint.notes %></td>
  <td><%= waypoint.address %></td>
  <td><%= waypoint.country %></td>
  <td><%= waypoint.continent %></td>
  <td><%= waypoint.longitude %></td>
  <td><%= waypoint.latitude %></td>
  <td>
    <%= link_to 'Show', trip_waypoint_path(@trip, waypoint) %>
    <%= link_to 'Edit', edit_trip_waypoint_path(@trip, waypoint) %>
    <%= link_to 'Delete', trip_waypoint_path(@trip, waypoint), method: :delete, data: { confirm: 'Are you sure?' } %>
    <%= link_to 'Posts', trip_waypoint_posts_path(@trip, waypoint) %>
    <%= link_to 'Media', trip_waypoint_media_items_path(@trip, waypoint) %>
  </td>
</tr>