<tr>
  <th scope="row"><%= waypoint.sequence %></th>
  <td><%= link_to waypoint.name, [@trip, waypoint] %></td>
  <td class="d-none d-md-table-cell"><%= truncate_string(waypoint.notes) %></td>
  <td class="d-none d-lg-table-cell"><%= waypoint.address %></td>
  <td class="d-none d-lg-table-cell"><%= waypoint.country_name %></td>
  <td class="d-none d-md-table-cell">
    <div class="table-row-action-items">
      <% if can? :read, @trip %>
        <%= link_to trip_waypoint_posts_path(@trip, waypoint) do %>
          <i class="bi bi-journals"></i>
        <% end %>
        <%= link_to trip_waypoint_media_items_path(@trip, waypoint) do %>
          <i class="bi bi-images"></i>
        <% end %>
      <% end %>
    </div>
  </td>
  <% if can? :read, waypoint %>
    <td class="d-none d-md-table-cell">
      <div class="table-row-action-items">
        <% if can? :manage, waypoint %>
          <%= link_to edit_trip_waypoint_path(@trip, waypoint) do %>
              <i class="bi bi-pencil"></i>
          <% end %>
          <%= link_to trip_waypoint_path(@trip, waypoint), method: :delete,
                data: { confirm: 'Are you sure? Associated segments, posts and media items will also be deleted!' } do %>
              <i class="bi bi-trash"></i>
          <% end %>
        <% end %>
      </div>
    </td>
      <% if can? :manage, waypoint %>
        <td>
          <% unless waypoint.first? %>
            <%= link_to trip_waypoint_decrease_sequence_path(@trip, waypoint), method: :put do %>
                <i class="bi bi-arrow-up"></i>
            <% end %>
          <% end %>
        </td>
        <td>
          <% unless waypoint.last? %>
            <%= link_to trip_waypoint_increase_sequence_path(@trip, waypoint), method: :put do %>
                <i class="bi bi-arrow-down"></i>
            <% end %>
          <% end %>
        </td>
      <% end %>
  <% end %>
</tr>
