<%= render 'shared/trips_header', trip: @trip, title: "Waypoint: #{@waypoint.name}", navbar: false %>

<%= render 'shared/back_button', target: trip_waypoints_path(@trip) %>
<% if can? :manage, @waypoint %>
    <%= render 'shared/edit_button', target: edit_trip_waypoint_path(@trip, @waypoint) %>
    <%= render 'shared/delete_button', target: trip_waypoint_path(@trip, @waypoint),
          message: 'Are you sure? Associated segments, posts and media items will also be deleted!'
    %>
<% end %>

<p><strong>Notes: </strong><%= @waypoint.notes %></p>
<p><strong>Address: </strong><%= @waypoint.address %></p>
<p><strong>Country: </strong><%= @waypoint.country_name %></p>
<p><strong>Continent: </strong><%= @waypoint.continent %></p>
<p><strong>Longitude: </strong><%= @waypoint.longitude %></p>
<p><strong>Latitude: </strong><%= @waypoint.latitude %></p>
