<%= link_to :back, class: 'btn btn-large btn-outline-dark mb-4' do %>
  <i class="bi bi-arrow-left"></i>
<% end %>

<h1 class="display-6"><%= "Waypoint: #{@waypoint.name}" %></h1>

<p><strong>Notes: </strong><%= @waypoint.notes %></p>
<p><strong>Address: </strong><%= @waypoint.address %></p>
<p><strong>Country: </strong><%= @waypoint.country %></p>
<p><strong>Continent: </strong><%= @waypoint.continent %></p>
<p><strong>Longitude: </strong><%= @waypoint.longitude %></p>
<p><strong>Latitude: </strong><%= @waypoint.latitude %></p>

<% if can? :manage, @waypoint %>
  <div class="my-3">
    <%= link_to 'Edit', edit_trip_waypoint_path(@trip, @waypoint), class: 'btn btn-large btn-dark' %>
    <%= link_to 'Delete', trip_waypoint_path(@trip, @waypoint), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-large btn-outline-dark' %>
  </div>
<% end %>
