<div class="col">
  <div class="card activity-card">
    <div class="activity-pic-container">
      <%= link_to activity.user do %>
        <%= image_tag activity.user.avatar.representation(resize_to_limit: [32, 32]), class: 'rounded-circle activity-user-pic', alt: activity.user %>
      <% end %>
    </div>
    <div class="card-body activity-body">
      <h5 class="card-title">
        <%= link_to activity.user, user_path(activity.user) %>
      </h5>
      <p class="card-text">
        <%= "#{activity.user} #{activity.action}"%>
        <%= link_to activity.subject.activity_string, activity.subject %>
        <%= ' of you' if activity.subject_type != 'User' && activity.subject.owned_by?(current_user) %>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <%= link_to "#{time_ago_in_words(activity.created_at)} ago", activity_path(activity) %>
      </small>
      <span class="activity-reaction-buttons">
        <% if can? :like, activity %>
          <%= render 'shared/like_button', likeable: activity %>
        <% end %>
        <%= render 'shared/comments_button', commentable: activity %>
      </span>
    </div>
  </div>
</div>
