<div class="col">
  <div class="card activity-card">
    <div class="activity-pic-container">
      <%= link_to activity.user do %>
        <%= image_tag activity.user.avatar.representation(resize_to_limit: [32, 32]), class: 'rounded-circle activity-user-pic', alt: activity.user %>
      <% end %>
    </div>
    <div class="card-body activity-body">
      <h5 class="card-title">
        <%= link_to activity.user, user_path(activity.user) %>
      </h5>
      <p class="card-text">
        <%= "#{activity.user} #{activity.action}"%>
        <%= link_to activity.subject.activity_string, activity.subject %>
        <%= ' of you' if activity.subject_type != 'User' && activity.subject.owned_by?(current_user) %>
      </p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <%= link_to "#{time_ago_in_words(activity.created_at)} ago", activity_path(activity) %>
      </small>
      <span class="activity-reaction-buttons">
        <% if can? :like, activity %>
        <div class="mx-4">
          <% if Like.liked?(current_user, activity) %>
            <%= link_to activity_dislike_path(activity), method: :delete, remote: true, id: "like-link-#{activity.id}" do %>
              <i id=<%= "like-button-#{activity.id}" %> class="bi bi-hand-thumbs-up-fill mx-1"></i>  
            <% end %>
          <% else %>
            <%= link_to activity_like_path(activity), method: :post, remote: true, id: "like-link-#{activity.id}" do %>
              <i id=<%= "like-button-#{activity.id}" %> class="bi bi-hand-thumbs-up mx-1"></i>  
            <% end %>
          <% end %>
          <span id=<%= "like-counter-#{activity.id}" %>><%= activity.likes_count %></span>
        </div>
        <% end %>
        <% if can? :new_activity, Comment %>
          <div>
            <%= link_to activity_new_comment_path(activity) do %>
              <i class="bi bi-chat-right mx-1"></i>
            <% end %>
            <%= activity.comments_count %>
          </div>
        <% end %>
      </span>
    </div>
  </div>
</div>
