<div class="col">
  <div class="card h-100 activity-card">
    <div class="activity-pic-container">
      <img src="https://github.com/chrila.png" class="card-img-top rounded-circle activity-user-pic" alt=<<%= activity.user.username %>>
    </div>
    <div class="card-body activity-body">
      <h5 class="card-title">
        <%= link_to activity.user.username, user_path(activity.user) %>
      </h5>
      <p class="card-text"><%= activity.description %></p>
    </div>
    <div class="card-footer">
      <small class="text-muted">
        <%= link_to "#{time_ago_in_words(activity.created_at)} ago", activity_path(activity) %>
      </small>
      <span class="reaction-buttons">
        <div class="mx-4">
          <% if Like.liked?(current_user, activity) %>
            <%= link_to dislike_activity_path(activity), method: :delete do %>
              <i class="bi bi-hand-thumbs-up-fill mx-1"></i>  
            <% end %>
          <% else %>
            <%= link_to like_activity_path(activity), method: :post do %>
              <i class="bi bi-hand-thumbs-up mx-1"></i>  
            <% end %>
          <% end %>
          <%= activity.likes_count %>
        </div>
        <div>
          <i class="bi bi-chat-right mx-1"></i>
          <%= activity.comments_count %>
        </div>
      </span>
    </div>
  </div>
</div>
